# Node modules
node_modules/

# Environment variables
.env

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Optional: Build folders (if you ever build for production)
dist/
build/
